alembic==1.0.8
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
bleach==3.1.4
blinker==1.4
Click==7.0
colorama==0.4.0
constantly==15.1.0
cssselect==1.0.3
decorator==4.3.0
defusedxml==0.5.0
dominate==2.3.5
dukpy==0.2.2
echarts-china-cities-pypkg==0.0.9
echarts-china-counties-pypkg==0.0.2
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
entrypoints==0.2.3
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Moment==0.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.17.1
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
javascripthon==0.10
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
macropy3==1.1.0b2
Mako==1.0.8
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.2
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.9
Pygments==2.2.0
PyHamcrest==1.9.0
PyMySQL==0.9.3
python-dateutil==2.7.5
python-editor==1.0.4
pytz==2018.7
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.3
queuelib==1.5.0
redis==2.10.6
Send2Trash==1.5.0
six==1.11.0
SQLAlchemy==1.3.1
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
WTForms==2.2.1
zope.interface==4.6.0
